* {
  /* border: red solid 1px; */
}
#result {
  padding-top: 2vw;
  width: 90vw;
  height: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#unitVideo {
  width: 45vw;
  height: 25.3125vw;
}
#unitDescription {
  width: 45vw;
  height: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
#main {
  top: 80px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#footer {
  position: relative;
}
#unitexercize {
  width: 90vw;
  height: 60vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
#dailyRutine {
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 54vw;
}
#dailyGraph {
  width: 30vw;
  height: 60vw;
}
#piechart {
}
#unitDiet {
  width: 100vw;
  height: 30vw;
}
#sunday,
#monday,
#thursday,
#tuesday,
#wednesday,
#friaday {
  width: 60vw;
  height: 8vw;
}
