* {
  /* border: red solid 1px; */
}

#hero {
  position: relative;
  top: 80px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}
#vid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#start-button {
  position: absolute;
  left: 50%;
  bottom: 30vh;
  width: 250px;
  height: 80px;
  font-size: 30px;
  transform: translateX(-50%);
  background-color: olivedrab;
  color: white;
  border-radius: 15px;
  z-index: 10;
}
#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20vh;
  padding-bottom: 20vh;
  gap: 2vw;
}
li {
  font-size: 14px;
}
#personalization-pargraph,
#weekly-program-paragraph,
#dietry-program-paragraph,
#requirements-paragraph {
  background-color: olivedrab;
  color: white;
  border-radius: 22px;
  width: 35vw;
  height: auto;
  opacity: 0.75;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  padding: 2vw;
}
#Personalized,
#weekly-program,
#dietry-program,
#requirements {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 85vw;
  height: auto;
}
#image3 {
  border: solid red 1px;
}
#chart {
  width: 40vw;
  height: 40vw;
}
#image1,
#image2,
#image3,
#image4 {
  width: 30vw;
  height: 30vw;
  overflow: hidden;
  border-radius: 50px;
}
@media (max-width: 1000px) {
  li {
    font-size: 10px;
  }
  #personalization-pargraph,
  #weekly-program-paragraph,
  #dietry-program-paragraph,
  #requirements-paragraph {
    width: 40vw;
    padding: 0;
  }
  #Personalized h2,
  #weekly-program h2,
  #dietry-program h2,
  #requirements h2 {
    font-size: 25px;
  }
  #Personalized,
  #weekly-program,
  #dietry-program,
  #requirements {
    font-size: 20px;
  }
  #image1,
  #image2,
  #image3,
  #image4 {
    border-radius: 25px;
  }
  #main {
    padding-top: 15vh;
  }
  #start-button {
    bottom: 15vh;
    width: 200px;
    height: 70px;
  }
}
@media (max-width: 640px) {
  #start-button {
    bottom: 5vh;
    width: 150px;
    height: 70px;
    font-size: 25px;
  }
  #personalization-pargraph,
  #weekly-program-paragraph,
  #dietry-program-paragraph,
  #requirements-paragraph {
    width: 44vw;
    padding: 1vw;
  }
  #Personalized h2,
  #weekly-program h2,
  #dietry-program h2,
  #requirements h2 {
    font-size: 20px;
  }
  #Personalized,
  #weekly-program,
  #dietry-program,
  #requirements {
    font-size: 15px;
  }
  #image1,
  #image2,
  #image3,
  #image4 {
    border-radius: 20px;
  }
  #main {
    padding-top: 15vh;
  }
  #footer {
    flex-wrap: wrap;
  }
}
@media (max-width: 640px) {
  #Personalized h2,
  #weekly-program h2,
  #dietry-program h2,
  #requirements h2 {
    font-size: 15px;
  }
  #Personalized,
  #weekly-program,
  #dietry-program,
  #requirements {
    font-size: 12px;
  }
}
