/* * {
  border: red solid 1px;
} */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Funnel+Display:wght@300..800&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap");
.barlow-condensed-semibold {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.barlow-condensed-regular {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#result {
  /* padding-top: 2vw; */
  width: 96vw;
  height: 30vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  flex-direction: row-reverse;
  background: linear-gradient(-135deg, transparent 90px, #68770A 0);
  MARGIN-top: 9VW;
}
#result h2 {
  display: flex;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}
#result h2 svg{
  padding-left:3vw ;
  padding-right: 2vw;
}
#unitVideo {
width: 30vw;
height: 16vw;
padding-right: 9vw;
}
#titleTraining {
margin-top: 2vw;
width: 96vw;
height: 6vw;
display: flex;
justify-content: left;
background: linear-gradient(-135deg, transparent 4vw, #68770A 0);
}
#titleTraining h2 {
display: flex;
font-family: "Barlow Condensed", sans-serif;
font-weight: 600;
font-style: normal;
}
#titleTraining h2 svg{
padding-right: 2vw;
}
#titleTraining h2 {
text-align: center;
padding-left: 3vw;
color: white;
font-family: "Barlow Condensed", sans-serif;
font-weight: 600;
font-style: normal;
}

#unitDescription {
  width: 50vw;
  height: 10vw;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3vw;
}
#main {
  top: 80px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#footer {
  position: relative;
}
#unitexercize {
  width: 96vw;
  box-shadow: 0 0 0 1px #68770A, 0 0 0 1px #68770A;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.daytitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 3vw;
}
.daytitle h3 {
  padding-left: 2vw;
  color: #68770A;
  padding-top: 1vw;
}
#dailyRutine {
  display: flex;
  flex-direction: column;
  height: 54vw;
}

#dashboard {
  margin-top: 2vw;
  margin-bottom: 2vw;
  background: transparent;
  width: 96vw;
  height: 50vw;
  display: flex;
  flex-direction: column;
}

#Graphtitle {
  width: auto;
  height: 10vw;
  background-color: #68770a;
  background: linear-gradient(-135deg, transparent 7vw, #68770a 0);
  display: flex;
  padding-left: 3vw;
}
#Graphtitle * {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 48px;
  gap: 2vw;
}
#Graphtitle svg {
  align-self: center;
}
#Graphtitle h3 {
  margin-left: 2vw;
}
#unitDiet {
  width: 100vw;
  height: 30vw;
}
#titlediv {
  position: relative;
  top: 80px;
}
#dashboardmain {
  width: 100%;
  height: 40vw;
  border: #68770a solid 2px;
  display: grid;
}
#sunday,
#monday,
#thursday,
#tuesday,
#wednesday,
#friday {
  padding-left: 3vw;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #68770a;
  width: 96.8%;
  height: auto;
  padding-bottom: 2vw;
  border-bottom: dotted 3px #68770a;
}
#saturday {
  padding-left: 3vw;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #68770a;
  width: 91vw;
  height: auto;
  padding-bottom: 2vw;
}
#unitDiet {
  display: none;
}

h1,
h3 {
  text-align: center;
}
#analytics-container {
  height: 30vw;
  width: 30vw;
}
@media (max-width: 1000px) {
  #result {
    flex-wrap: wrap;
    width: 100%;
    height: 100vw;
    margin: 12vw;
  }
  #titlediv {
    top: 0px;
  }
  #unitVideo {
    width: 80vw;
    height: 45vw;
  }
  #unitDescription {
    width: 80vw;
    height: auto;
  }
  #unitexercize {
    flex-wrap: wrap;
    /* padding-bottom:2vw ; */
    width: 90%;
    height: auto;
    /* flex-direction: column; */
    justify-content: none;
    align-items: none;
  }
  #sunday,
  #monday,
  #thursday,
  #tuesday,
  #wednesday,
  #friaday {
    width: 80vw;
    height: auto;
    padding-bottom: 5vw;
  }
  #dailyRutine {
    position: relative;
    width: 90vw;
    height: auto;
  }
  #dailyGraph {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  /* footer {
    position: fixed;
    bottom: 0;
  } */
  #main {
    position: relative;
    top: 80px;
  }
  #analytics-container {
    flex-wrap: wrap;
    height: 30vw;
    width: 30vw;
  }
}
@media (max-width: 640px) {
}
@media (max-width: 640px) {
}
#analytics-container {
  width: 90vw;
  height: 30vw;
  display: flex;
  align-items: center;
}
#timeline {
  width: 60vw;
  height: 30vw;
}
#bmi {
  width: 30vw;
  height: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle-bmi {
  width: 40%;
  display: flex;
  justify-content: center;
  height: 25%;
  border-radius: 50%;
  align-items: center;
  background-color: rgb(0, 0, 0);
}
#result-bmi {
  color: white;
}
