body {
  margin: 0;
  padding: 0;
}
.navbar {
  width: 100vw;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #939b4a;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  border-bottom: 1px solid #3b430c;
}
#name {
  font-size: 35px;
  color: white;
}
a:link,
a:visited,
a:hover {
  text-decoration: none;
  color: black;
}
#warrior-logo {
  width: 120px;
  height: 120px;
  opacity: 1;
  margin-right: 20px;
  position: relative;
  top: 10px;
}
a image {
  width: 50vw;
}
@media (max-width: 700px) {
  a image {
    width: 40vw;
  }#warrior-logo {
    width: 90px;
    height: 90px;
}}

.containerDrop {
  width: 150px;
  height: 60px;
  position: relative;
  z-index: 10;
}
.btn {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: var(--gap);
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: var(--radius);
  border: none;
  box-shadow: var(--shadow);
  position: relative;
}

.bx {
  font-size: 1.1rem;
}

.dropdown {
  position: absolute;
  width: 100px;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  margin-top: 0.2rem;
  background: #939b4a;
}

.dropdown a {
  display: flex;
  align-items: center;
  column-gap: var(--gap);
  padding: 0.8rem 1rem;
  text-decoration: none;
  color: black;
  background-color: #939b4a;
}

.dropdown a:hover {
  background-color: #565c28;
  color: black;
}
.dropdown {
  position: absolute;
  width: 250px;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  margin-top: 0.3rem;
  background: white;
  transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);

  transform: translateY(0.5rem);
  visibility: hidden;
  opacity: 0;
}

.show {
  transform: translateY(0rem);
  visibility: visible;
  opacity: 1;
}

.arrow {
  transform: rotate(180deg);
  transition: 0.2s ease;
}

#footer {
  height: auto;
  width: 100vw;
  background-color: olive;
}
